body {
    font-family: 'Open sans', sans-serif;
    color: #0e0e0e;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    color: #0e0e0e;
}

header {
    padding: 20px 0;
    border-bottom: 1px solid #dcdcdc;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }
}

.container {
    margin: 0 auto;
    width: 1024px;
    max-width: 100%;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 20px 10px;
    }
}

.content {
    padding: 50px 0;
}

@media only screen and (max-width: 768px) {
    .content {
        padding-left: 10px;
        padding-right: 10px;
    }
}

footer {
    height: 60px;
    padding: 20px 0;
    border-top: 1px solid #dcdcdc;
}
