/* --------------------------------------------------------------------------
  Datos de la plantilla
  --------------------------------------------------------------------------- */

/* Main color: #f44265 */

/* --------------------------------------------------------------------------
  General
  --------------------------------------------------------------------------- */

html {
	position: relative;
	min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #0e0e0e;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #f44265;
}

p {
	margin-bottom: 15px;
}

.text-right {
    text-align: right;
}

/* --------------------------------------------------------------------------
  Header
  --------------------------------------------------------------------------- */
.header {
    padding: 20px 0 30px;
    border-bottom: 1px solid #dcdcdc;
}

.header-title {
    font-size: 3em;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .header-title { font-size: 1.5em; }
}

.header-subtitle {
	margin-top: 10px;
	margin-bottom: 0;
    font-size: 1.8em;
    color: #999;
}

@media only screen and (max-width: 768px) {
    .header-subtitle { font-size: 1.2em; }
}

/* --------------------------------------------------------------------------
  Container
  --------------------------------------------------------------------------- */

.container {
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 1023px) {
    .container {
		padding-left: 10px;
		padding-right: 10px;
	}
}

/* --------------------------------------------------------------------------
  Wrapper
  --------------------------------------------------------------------------- */

.wrapper {
    position: relative;
    padding-bottom: 50px;
}

/* Navigation
  --------------------------------------------------------------------------- */

.sidebar {
    position: relative;
    float: left;
    width: 15%;
	padding-top: 55px;
}

@media only screen and (max-width: 1023px) {
    .sidebar { display: none; }
}

.sidebar-scrolled .menu {
	position: fixed;
	top: 25px;
}

.menu-section { margin-bottom: 20px; }

.menu-title,
.menu-element {
	padding-left: 5px;
	border-left: 2px solid transparent;
}

.menu-title {
	margin-bottom: 3px;
    color: #999;
    font-weight: 600;
}

.menu-element {
	line-height: 1.8em;
	font-size: 13px;
}

.menu-element:hover { border-left-color: #f44265; }

.menu-element a { display: block; }

/* Content
--------------------------------------------------------------------------- */

.content {
    float: left;
    width: 85%;
	padding-right: 50px;
}

@media only screen and (max-width: 1023px) {
    .content { width: 100%; }
}

.block-title {
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 2em;
	font-weight: bold;
}

.block-subtitle {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 1.6em;
	font-weight: 600;
	color: #f44265;
}

.block-lead {
	font-size: 1.2em;
}

/* --------------------------------------------------------------------------
  Footer
  --------------------------------------------------------------------------- */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer-container {
    width: 1024px;
    max-width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    border-top: 1px solid #dcdcdc;
}

@media only screen and (max-width: 1023px) {
    .footer-container {
		padding-left: 10px;
		padding-right: 10px;
	}
}
